* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0f0f10;
}

header {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #111;
}

.logo {
    color: #fff;
    font-style: 20px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu a {
    color: #fff;

}

.btn {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    background: #ffd000;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}