* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0f0f10;
}

header {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #111;
}

.logo {
    color: #fff;
    font-style: 20px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu a {
    color: #fff;

}

.btn {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    background: #ffd000;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 8%;
    gap: 40px;
}

.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
}

.hero-text p {
    color: #aaa;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn-primary {
    padding: 12px 22px;
    border: none;
    border-radius: 6px;
    background: #ffd000;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.btn-secondary {
    padding: 12px 22px;
    border: 1px solid #444;
    border-radius: 6px;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

.hero-image img {
    width: 450px;
    border-radius: 10px;
}

.benefits {
    padding: 80px 8%;
}

.section-title {
    text-align: center;
    color: #fff;
    font-size: 32px;
    margin-bottom: 50px;
}

.benefits-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.benefit-card {
    color: #fff;
    margin-bottom: 10px;
}

.benefit-card p {
    color: #aaa;
}

.features {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 80px 8%;
}

.feature-image img {
    width: 450px;
    border-radius: 10px;
}

.feature-text {
    max-width: 450px;
}

.feature-text h2 {
    color: #fff;
    font-style: 32px;
    margin-bottom: 20px;
}

.feature-text p {
    color: #aaa;
    margin-bottom: 20px;
}

.feature-text ul {
    list-style: none;
    margin-bottom: 25px;
}

.feature-text {
    color: #ddd;
    margin-bottom: 10px;
}

.testimonials {
    padding: 80px 8%;
}

.testimonial-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.testimonial-card {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    width: 260px;
}

.testimonial-card p {
    color: #aaa;
    margin-bottom: 15px;
}

.testimonial-card h4 {
    color: #fff;
}

.cta {
    padding: 80px 8%;
    text-align: center;
    background: #181818;
}

.cta h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

.cta p {
    color: #aaa;
    margin-bottom: 30px;
}

.footer {
    background: #111;
    padding: 60px 8% 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    margin-bottom: 40px;
}

.footer-logo h3 {
    color: #fff;
    margin-bottom: 10px;
}

.footer-logo p {
    color: #aaa;
    max-width: 250px;
}

.footer-links h4,
.footer-social h4 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
}

.footer-links a {
    text-decoration: none;
    color: #aaa;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #222;
    padding-top: 20px;
}

.footer-bottom p {
    color: #777;
}